html * {
    box-sizing: border-box;
    font-weight: bolder, 
    
  }
  
  body {
    background-image: url(https://wallpapercave.com/wp/nYXtHCy.jpg);
    background-size: contain;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: white;
  }

  .Game {
    text-align: center;
  }
  
  .Team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30rem;
  }
  
  .Team .identity {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Team img {
    max-width: 200px;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .versus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .versus h1 {
    font-family: againtsregular, oswald, sans-serif;
    font-size: 500%;
    color: #fc0;
    text-shadow: 2px 2px 0 black;
  }


  